[tool.mypy]
disallow_incomplete_defs = true
implicit_optional = true
strict_optional = false

[tool.ruff]
line-length = 120
target-version = "py311"

[tool.ruff.lint]
ignore = ["D", "EM", "FBT", "PLR0913", "C901", "S101", "TRY"]
select = ["ALL"]

[tool.ruff.lint.isort]
known-first-party = ["tibber", "test"]

[tool.ruff.lint.per-file-ignores]
"setup.py" = ["D100"]
"test/**/*" = [
  "ANN201",
  "PLR2004",
  "S101",
  "S106",
]
[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "function"